<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!-- Link to your external CSS file -->
    <link rel="stylesheet" href="/css/addtabs.css">
    <!-- Include jQuery and Datepicker libraries -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <!-- Include jQuery and jQuery UI -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
    <link href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css" rel="stylesheet">

</head>
<body>
<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Daily Food Intake</h3>
                    <p>Fill in the data below.</p>
                    <form class="requires-validation" novalidate>

                        <div class="col-md-12 input group">
                            <input type="text" id="cityInput" class="form-control" placeholder="Enter product name...">
                        </div>
                        <div class="col-md-12 input group">
                            <input type="text" id="datepicker" class="form-control" th:placeholder="'Select date...'">
                        </div>


                        <div class="col-md-12">
                            <input class="form-control" type="text" pattern="[0-9]*[.,]?[0-9]+" name="quantity" placeholder="Enter quantity..." required>
                            <div class="valid-feedback">Quantity field is valid!</div>
                            <div class="invalid-feedback">Quantity field cannot be blank!</div>
                        </div>
                        <div class="col-md-12 mt-3">
                            <label class="mb-3 mr-1" >Quantity: </label>

                            <input type="radio" class="btn-check" name="quantity" id="units" autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-secondary" for="units">Units</label>

                            <input type="radio" class="btn-check" name="quantity" id="grams" autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-secondary" for="grams">Grams</label>

                            <div class="valid-feedback mv-up">You selected quantity type!</div>
                            <div class="invalid-feedback mv-up">Please select a quantity type!</div>
                        </div>

                        <div class="form-button mt-3">
                            <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/daily.js}"></script>


</body>
</html>
