<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome to NutriTrack Application</title>
    <link rel="stylesheet" href="/css/reccom.css"> <!-- Link to your external CSS file -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>

<div class="container mt-5 full-height-container form-wrapper">
    <h1>Generate Report</h1>

    <!-- Report Generation Form -->
    <form id="reportForm">
        <div class="col-md-4 form-group">
            <label for="datePicker">Select Date:</label>
            <input type="date" class="form-control" id="datePicker" name="selectedDate">
        </div>

        <div class="mt-2 form-group">
            <label>Select Report Duration:</label><br>

                <input class="btn-check" type="radio" name="reportDuration" id="todayRadio" autocomplete="off" required>
                <label class="btn btn-sm btn-outline-secondary" for="todayRadio">Today</label>

                <input class="btn-check" type="radio" name="reportDuration" id="weekRadio" autocomplete="off" required>
                <label class="btn btn-sm btn-outline-secondary" for="weekRadio">Week</label>

                <input class="btn-check" type="radio" name="reportDuration" id="monthRadio" autocomplete="off" required>
                <label class="btn btn-sm btn-outline-secondary" for="monthRadio">Month</label>

        </div>
        <button type="submit" class="mt-2 btn btn-primary">Generate Report</button>
    </form>
</div>
<!-- Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Link to your external JS file -->
<script src="/js/reports.js"></script>
</body>
</html>